.caixaGrande {
    display: grid;
    height: 300px;
    background-color: #fafafa;
    gap: 25px;


    /* Opcional: para cortar a imagem se necessário */
    grid-template-columns: 600px 600px 600px;
    grid-template-areas:
        "item-1  item-2 item-3"
        "item-4 item-5 item-6"
    ;
}

.caixaPequena1 {
    grid-area: item-1;
    background-color: aquamarine;
    background-image: url("img01.jpg");
    background-repeat: round;
    background-size: cover;

}

.caixaPequena2 {
    grid-area: item-2;
    background-image: url("img02.jpg");
    background-repeat: round;
    background-size: cover;
}

.caixaPequena3 {
    grid-area: item-3;
    background-image: url("img03.jpg");
    background-repeat: round;
    background-size: cover;
}

.caixaPequena4 {
    grid-area: item-4;
    background-image: url("img04.webp");
    background-repeat: round;
    background-size: cover;
}

.caixaPequena5 {
    grid-area: item-5;
    background-image: url("img05.jpg");
    background-repeat: round;
    background-size: cover;
}

.caixaPequena6 {
    grid-area: item-6;
    background-image: url("img06.jpg");
    background-repeat: round;
    background-size: cover;
}